.header {
  border-bottom: 1px solid #e5e7eb;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}

.logo {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logoIcon {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.icon {
  width: 24px;
  height: 24px;
}

.lang {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 500;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
  font-size: 13px;
  padding: 10px 0;
  /* border-top: 1px solid #f0f0f0; */
}

.rightIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  width: 20px;
  height: 2px;
  background: black;
}



.wrapper {
  position: relative;
  display: inline-block;
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 20px;
  cursor: pointer;
  border: unset;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10px;
}

.select:focus {
  outline: none;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .topRow {
    justify-content: space-between;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px 0;
    border-top: 1px solid #eee;
  }

  .show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .rightIcons {
    gap: 10px;
  }
  .webdesign {
    display: none;
  }
}